.button
  font-family: 'Futura Demi', sans-serif
  border: none
  border-radius: 0.14rem
  text-transform: uppercase
  cursor: pointer
  box-shadow: none
  transition: 0.2s
  font-size: 0.93rem
  font-weight: 600
  line-height: 1.07rem
  
  &--primary
    background-color: $primary
    border: 0.07rem solid $primary;
    color: $light
    box-shadow: 0rem 0.35rem 1.07rem rgba($primary, 0.3)
    transition: box-shadow 0.3s
    &:hover
      color: #E3B873
      border: 0.07rem solid $primary
      box-shadow: 0rem 0.35rem 1.07rem rgba($light, 0.2)
      background-color: rgba($light, 0.2)

  &--outline
    background-color: transparent
    border: 0.07rem solid $light
    color: $light
    /*min-width: 14.8rem*/
    
    &:hover
      box-shadow: 0rem 0.35rem 1.07rem rgba($light, 0.3)
      background-color: rgba($light, 0.3)

.label
  font-size: 1.07rem
  &--light
    color: rgba($light, 0.5)
.input 
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  font-size: 1.285rem
  font-style: normal
  font-weight: 500
  line-height: 1.785rem
  color: $light
  padding: 0.3rem 0
  &--light
    &::placeholder
      color: $light
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked + 
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center / 0.8rem   
  &__label
    display: flex
    align-items: center
    font-size: 1.142rem
    &::before
     content: ''
     width: 18px
     height: 18px
     border: 1px solid $primary 
     border-radius: 1px
     cursor: pointer  
     margin-right: 0.64rem
    &--center
      justify-content: center
  
div.invalid
    color: #bf2121
    font-family: 'FuturaDemiC', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 1rem
    line-height: 1.428rem; 
input
  &.invalid
    border-bottom: 1px solid red
  
