@media screen and ( max-width: 1320px )
  .nav__item
    margin-right: 2rem
    &:first-child
      margin-left: 0rem
  .contacts__phone
    margin-right: 2rem
  
@media screen and ( max-width:  1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1.5rem
  .contact__phone
    margin-right: 1.5rem
  .hero
    &__title
      max-width: 47.8rem

@media screen and ( max-width:  991px)
  .nav
    &__item
      display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: auto
    &__design
      margin-bottom: 6.5rem
  .col
    &-44
      width: 100%
    &-56
      width: 100%
  .section
    &-title
      &__heading
        font-size: 1.83rem
        letter-spacing: -0.07em
      &__text
        font-size: 1.16rem
  .swiper
    &-slide
      //justify-content: center
      &__heading
        font-size: 1.16rem
      &__value
        font-size: 1.16rem
  .project
    &--image
      width: 100%
@media screen and ( max-width: 768px)
  .hero
    &__scroll-down
      display: none
    &__content
      margin-left: 0rem
  .scroll-up
    display: none

@media screen and ( max-width: 576px)
  .hero
    &__text
      max-width: 27.7rem
    &__button
      display: block
      width: 100%
    .button--primary
      margin-bottom: 2.16rem
  .contacts
    &__phone
      color: $light
      margin-right: 0rem
    &__button
      display: none
  .control
    &__button
      order: 1
      width: 100%
      height: 4.25rem 
    &__input-group
      flex-basis: 100%
      margin-bottom: 5.25rem
      &--phone
        margin-bottom: 0.5rem
    &__policy-label
      margin-bottom: 5rem

@media screen and ( max-width: 500px )
  .container
    width: 90%
  .section
    &-title
      &__heading
        font-size: 1.85rem
        margin-bottom: 1.4rem
      &__image
        margin-bottom: 3.5rem
      &__text
        max-width: 24.6rem
        line-height: 158.48%
        margin-bottom: 1.4rem
      &__word
        &::after
          display: none   
  .title
    margin-top: 3px
    font-size: 23px
    line-height: 132.83%
    max-width: 27.14rem
  .hero
    &__title
      max-width: 32.5rem
    &__text
      font-size: 18px
    &__button
      font-size: 13px
  .contacts
    &__phone
      text-decoration: none
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__subtitle
      max-width: 25rem
      font-size: 1.25rem
      font-style: normal
      font-weight: normal
      line-height: 135.84%
    &__pricetag
      bottom: -1.75rem
      padding: 1rem 4rem 1rem 3.5rem
  .card
    &__text
      max-width: 22.5rem
      margin-top: -12rem
      margin-left: 0
      padding: 1.5rem 2.9rem
    &__design
      max-width: 22.4rem
      margin-top: -12rem
      margin-left: 0
      padding: 1.5rem 2.9rem
  .types
    &__card
      margin-bottom: 6.5rem
  .project
    &--title
      margin-bottom: 2.05rem
    &--image
      margin-top: 0
  .swiper
    &-slide
      &__heading
        margin-bottom: 0.7rem
      &__text
        flex-basis: 47%
    &-button
      &-prev, &-next
        bottom: 34px
  .col-44
    margin-bottom: 0
  .swiper-container-horizontal>.swiper-pagination-bullets
    bottom: 34px

  .control
    &--dark
      background-color: $dark
      padding-bottom: 0rem
    &-title
      &__heading
        font-size: 1.83rem
        font-style: normal
        font-weight: normal
        line-height: 138.6%
        letter-spacing: 0
    &__text
      color: $light
      font-size: 1.166rem
      line-height: 169.8%
      margin-bottom: 3rem
      &::before
        margin-bottom: 1.2rem
    &__input
      font-size: 1.5rem
      &::placeholder
        color: $light
      &-group--phone
        margin-bottom: 0
    &__label
      color: $secondary
    &__button
      width: 100%
      height: 4.25rem
      margin-bottom: -2rem
      font-size: 1.25rem    
    &__policy-label
      color: $light
      font-size: 1.33rem
      justify-content: left
      margin-top: 0
    &__video
      min-height: 17.25rem
      background-size: cover
      margin-bottom: 2.3rem
      &--play
        max-height: 63px
        //max-width: 85px
      
@media screen and ( max-height: 530px )
  .hero
    &__scroll-down
      display: none

  